<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Desired-Programms.ru</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Anton|Bebas+Neue|Lato|Oxygen|Quicksand|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/mainApp/css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/mainApp/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/mainApp/css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/mainApp/css/content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/mainApp/css/footer.css' %}">
    <link rel="shortcut icon" href="{% static '/mainApp/css/favicon.ico' %}" type="image/x-icon">
    <script src="{% static '/mainApp/js/Jquery.js' %}"></script>
    <script src="{% static '/mainApp/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/mainApp/js/main.js' %}"></script>
    <title>{% block title %}Desired-Programms.ru{% endblock %}</title>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
