{% extends 'base.html' %}

{% block title %}Новости{% endblock %}

{% block content %}

{% include "header.html" %}


<div class="nav__bar">
    <a href="#" class="nav__trigger">
        <div class="bars"></div>
    </a>
</div>

<div style="background: url(/media/{{design.background}}) no-repeat; height:100vh; background-attachment: fixed; background-position: center;" class="main">
    <div class='container-fluid'>
        <div class="contact-area">

            <div class="contact">
              <main>

                <div class="row">
                  <div class="col-md-8">
                    <section>
                      <div class="content">

                        <aside>
                          <h1 style="color: bisque;">О сайте</h1>
                          <span class="about__span">Это сайт на движке Django 3.1</span>
                          <hr>
                          <br>
                          <span class="about__span">Реализовано:</span>
                          <br>
                          <p class="about__p">1) Система профиля</p>
                          <p class="about__p">2) Система входа и регистраций</p>
                          <p class="about__p">3) Система комментариев</p>
                          <p class="about__p">4) Система кол-во просмотров, лайков, дизлайков</p>
                          <p class="about__p">5) Система пойска по сайту</p>
                          <p class="about__p">6) Система платежей</p>
                          <p class="about__p">7) Система категорий</p>
                          <p class="about__p">8) Система сортировки</p>
                          <br>
                          <p>На счёт работы пишите на почту "Тема: Работа"</p>
                          <br>
                          <hr>
                          <br>

                          <h4 class='about__h4' >Frond-End: Евгений Орлов</h4>
                          <h4 class='about__h4' >Back-End: Евгений Орлов</h4>

                        </aside>

                    </section>

                  </div>

                  <div class="col-md-4">
                    <section>
                      <div class="content">

                        <aside>
                          <h1>Евгений Орлов</h1>
                          <p>Привет, я Евгений Орлов и я Fullstack-разработчик.</p>
                        </aside>

                        <button>
                          <span>Связаться со мной</span>

                          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"> <g class="nc-icon-wrapper" fill="#444444"> <path d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z"></path> </g> </svg>
                        </button>
                      </div>

                      <div class="title"><p>Связаться со мной</p></div>

                    </section>

                    <nav>
                      <a href="https://mail.ru/" class="Email">

                        <div class="content">
                          <span class="icon__email"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <h1>Email</h1>
                          <span>zhenya.orlov86@mail.ru</span>
                        </div>

                        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"> <g class="nc-icon-wrapper" fill="#444444"> <path d="M17.17 32.92l9.17-9.17-9.17-9.17L20 11.75l12 12-12 12z"></path> </g> </svg>
                      </a>

                      <a href="https://vk.com/fullstack02" class="vk">

                        <div class="content">
                          <span class="icon__vk"><i class="fa fa-vk" aria-hidden="true"></i></span>
                          <h1>VK</h1>
                          <span>https://vk.com/fullstack02</span>
                        </div>

                        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"> <g class="nc-icon-wrapper" fill="#444444"> <path d="M17.17 32.92l9.17-9.17-9.17-9.17L20 11.75l12 12-12 12z"></path> </g> </svg>
                      </a>

                    </nav>
                  </div>
                </div>

              </main>


            </div>
          </div>
    </div>
</div>


{% include "footer.html" %}

{% endblock %}
