{% extends 'base.html' %}

{% block title %}Новости{% endblock %}

{% block content %}

{% include "header.html" %}

<div class="nav__bar">
    <a href="#" class="nav__trigger">
        <div class="bars"></div>
    </a>        
  </div>
  
    <div style="height:100vh;" class="main container-fluid">

        {% if error %}
            <div class="error-pay">
                <h2>Ошибка платежа, возможные следущее причины:</h2>
                <h3>1) На вашем счёте недостаточно "Средств" для покупки игры.</h3>
                <h3>2) Вы не правельно указали "API" или "номер телефона" к которому привязан QIWI.</h3>
                <h3>3) В настройках вашего API не стойт галочка - "Проведение платежей без SMS".</h3>
                <a href="http://127.0.0.1:8000"><button class="btn btn-outline-warning">На главную</button></a>
            </div>
        {% else %}
            {% if cart.products.count != 0 %}
                <h1 class="cart__h1">Итого: | Общая цена: {{cart.final_price}} руб. | Кол-во: {{count_products_cart}} шт. </h1>
            {% endif %}
            <hr>

            <div class="row">
                    {% for item in cart.products.all %}
    
                    <div class="col-md-3">
                        <div class="card card__cart">
                            <div class="card-title card__title text-center">
                                <p>{{item.product.title}}</p>     
                            </div>
                            <div class="card-body">
                                
                                <img height="330" width="260" src="{{item.product.image_wrapper.url}}" alt="Изображение">
                                
                                <br><br>
    
                                <p class="card__text_p">Цена: <span class="text-2">{{item.final_price}} руб.</span></p>
                                <p class="card__text_p">Кол-во: <span class="text-2">{{item.qty}} шт.</span></p> 
    
                                <br>
                                
                            </div>
                        </div>   
                    </div>     
                
                {% endfor %}
            </div>
            <br><br>
            <hr style="background-color: white;">
            <br><br>
              <div style="margin-bottom: 350px;" class="col-md-4">
                <div class="panel panel-default credit-card-box">
                    <div class="panel-heading display-table" >
                        <div class="row display-tr" >
                            <img width="400" height="34" src="https://static.qiwi.com/img/qiwi_com/header/qiwi-wallet-logo.svg" alt="">
                        </div>                    
                    </div>
                    <div class="panel-body">
    
                        <form action="{% url 'main:pay_online' user.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xs-12">
                                    
                                    <div class="form-group">
                                        <label for="cardNumber">API</label>
                                        <div class="input-group">
                                            <input maxlength="75" type="text" class="form-control" name="api" placeholder="Ваш api ключ" autocomplete="cc-number" required autofocus />
                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                        </div>
                                    </div>                            
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <label for="cardExpiry"><span class="hidden-xs">Номер телефона</span></label>
                                        <input maxlength="11" minlength="11" type="text" class="form-control" name="number" placeholder="Ваш номер телефона" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <br>
                                    <h6>Итог: {{cart.final_price}} руб.</h6>
                                    <br>
                                    <button class="btn btn-success btn-lg btn-block" type="submit">Оплатить</button>
                                </div>
                            </div>
                            <div class="row" style="display:none;">
                                <div class="col-xs-12">
                                    <p class="payment-errors"></p>
                                </div>
                            </div>
                        </form>
    
                    </div>
                </div>
            </div>  
            
        </div>
        {% endif %}



{% include "footer.html" %}

{% endblock %}