{% extends 'base.html' %}

{% block title %}Новости{% endblock %}

{% block content %}

{% include "header.html" %}

<div class="nav__bar">
  <a href="#" class="nav__trigger">
      <div class="bars"></div>
  </a>
</div>



<main class="main" style="background: url(/media/{{design.background}}) no-repeat; height:100vh; background-attachment: fixed; background-position: center;">

  <section class="content">
    <div class="info__wrapper">
        <h2>>>> Главная </h2>
    </div>
  </section>

    <form action="{% url 'main:search_results' %}">
      <div class="input-wrapper">
        <input name='q' required='' minlength="3" maxlength="90" type="text" placeholder="Найти...">
      </div>
    </form>

    <div class="">
        <div class="input-wrapper">
          <div class="dropdown dropdown-sort show">
            <a class="btn btn-secondary dropdown-toggle" href="#" style="font-size: 16px; opacity: 0.9;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Сортировать игры по:
            </a>

            <div class="dropdown-menu dropdown-menu-sort" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item dropdown-item-sort"><form action="{% url 'main:date' %}"><a href="/date/"><button class="btn btn-outline-success btn-sort" type="button" name="date"><i class="fa fa-calendar" aria-hidden="true"></i> Дате</button></a></form></a>
              <a class="dropdown-item dropdown-item-sort"><form action="{% url 'main:pro' %}"><a href="/pro/"><button class="btn btn-outline-success btn-sort" type="button" name="pro"><i class="fa fa-star" aria-hidden="true"></i> Популярности</button></a></form></a>
              <a class="dropdown-item dropdown-item-sort"><form action="{% url 'main:like' %}"><a href="/like/"><button class="btn btn-outline-success btn-sort" type="button" name="like"><i class="fa fa-heart" aria-hidden="true"></i> Положительным комментариям</button></a></form></a>
              <a class="dropdown-item dropdown-item-sort"><form action="{% url 'main:views' %}"><a href="/views/"><button class="btn btn-outline-success btn-sort" type="button" name="views"><i class="fa fa-eye" aria-hidden="true"></i> Просмотрам</button></a></form></a>
              <a class="dropdown-item dropdown-item-sort"><form action="{% url 'main:name' %}"><a href="/name/"><button class="btn btn-outline-success btn-sort" type="button" name="name"><i class="fa fa-tags" aria-hidden="true"></i> Имени[A-Z]</button></a></form></a>
              <a class="dropdown-item dropdown-item-sort"><form action="{% url 'main:price' %}"><a href="/price/"><button class="btn btn-outline-success btn-sort" type="button" name="price"><i class="fa fa-usd" aria-hidden="true"></i> Цене</button></a></form></a>
              <a class="dropdown-item dropdown-item-sort"><form action="{% url 'main:hard_disk' %}"><a href="/hard_disk/"><button class="btn btn-outline-success btn-sort" type="button" name="size"><i class="fa fa-database" aria-hidden="true"></i> Размеру игры</button></a></form></a>
              <a class="dropdown-item dropdown-item-sort"><form action="{% url 'main:language_russian' %}"><a href="/language_russian/"><button class="btn btn-outline-success btn-sort" type="button" name="language_russian"><i class="fa fa-globe" aria-hidden="true"></i> Русскому языку</button></a></form></a>
              <a class="dropdown-item dropdown-item-sort"><form action="{% url 'main:language_english' %}"><a href="/language_english/"><button class="btn btn-outline-success btn-sort" type="button" name="language_english"><i class="fa fa-globe" aria-hidden="true"></i> Английскому языку</button></a></form></a>
            </div>
          </div>
      </div>
    </div>






    <hr>

    <section class="content">

      {% if posts %}
        {% for post in posts %}

            <article class="article">

                <span class="article__title">{{post.title}}</span>
                <img class="article__image" src="{{post.image_wrapper.url}}" alt="user" />

                {% if post.pro == '+' %}
                  <span class="article__pro">PRO</span>
                {% endif %}
                <p class="article__content">{{post.title_description}}</p>

                {% if post.price < 1 %}
                  <a class="article__button btn btn-outline-warning" href="{{post.torrent.url}}">Скачать</a>

                {% else %}

                  {% if user.is_authenticated %}

                      {% if post in userprofile.list_of_purchased_games.all %}
                        <a class='article__button btn btn-outline-warning' href="{{post.torrent.url}}">Скачать</a>
                      {% elif post not in userprofile.list_of_purchased_games.all %}
                        <a class='article__button btn btn-outline-warning' href="{% url 'main:add-to-cart' post.id %}">Купить: {{post.price}}руб</a>
                      {% endif %}

                  {% else %}
                    <a class='article__button btn btn-outline-warning' href="{% url 'signup' %}">Купить: {{post.price}}руб</a>
                  {% endif %}

                {% endif %}

                <a class='article__button btn btn-outline-danger' href="{% url 'main:detail' post.id %}">Подробнее...</a>

                <div class='article__rating'>
                  <span class="article__views"><i class="fa fa-eye" aria-hidden="true"></i> {{post.views}}</span>
                  <a href="{% url 'main:like' post.id %}">
                    <span class="article__like"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{post.like}}</span>
                  </a>
                  <a href="{% url 'main:dislike' post.id %}">
                    <span class="article__dislike"><i class="fa fa-thumbs-down"aria-hidden="true"></i> {{post.dislike}}</span>
                  </a>
                </div>

                <p class="article__time">
                  {% for category in post.category.all %}
                    <span class="article__category_item">{{category.name}}</span>
                  {% endfor %}
                </p>
                  <hr>
            </article>

      {% endfor %}

      {% include "pagination.html" with page=posts %}

      {% elif object_list %}
        {% for post in object_list %}
          <article class="article">

            <span class="article__title">{{post.title}}</span>
            <img class="article__image" src="{{post.image_wrapper.url}}" alt="user" />
            {% if post.pro == '+' %}
              <span class="article__pro">PRO</span>
            {% endif %}
            <p class="article__content">{{post.title_description}}</p>
            {% if post.price < 1 %}
              <a class="article__button btn btn-outline-warning" href="{{post.torrent.url}}">Скачать</a>
              {% else %}

              {% if user.is_authenticated %}

                  {% if post in userprofile.list_of_purchased_games.all %}
                    <a class='article__button btn btn-outline-warning' href="{{post.torrent.url}}">Скачать</a>
                  {% elif post not in userprofile.list_of_purchased_games.all %}
                    <a class='article__button btn btn-outline-warning' href="{% url 'main:add-to-cart' post.id %}">Купить: {{post.price}}руб</a>
                  {% endif %}
                {% endif %}
            {% endif %}
            <a class='article__button btn btn-outline-danger' href="{% url 'main:detail' post.id %}">Подробнее...</a>

            <div class='article__rating'>
              <span class="article__views"><i class="fa fa-eye" aria-hidden="true"></i> {{post.views}}</span>
              <a href="{% url 'main:like' post.id %}">
                <span class="article__like"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{post.like}}</span>
              </a>
              <a href="{% url 'main:dislike' post.id %}">
                <span class="article__dislike"><i class="fa fa-thumbs-down"aria-hidden="true"></i> {{post.dislike}}</span>
              </a>
            </div>

            <p class="article__time">
              {% for category in post.category.all %}
                <span class="article__category_item">{{category.name}}</span>
              {% endfor %}
            </p>
              <hr>
          </article>
        {% endfor %}

      {% else %}
         {% include "error.html" %}
      {% endif %}

    </section>
</main>



<script src='https://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/iamdustan-smoothscroll/0.4.0/smoothscroll.js'></script>

{% include "footer.html" %}

{% endblock %}
