/* ===================== */
/*     Main Settings     */
/* ===================== */

html {
    color: #1bceb5;
    font-size: 1em;
    line-height: 1.4;
}

body { 
  color: #1bceb5;
  margin: 0; 
  background: #000f1d;
}

p {
    font-size: 13px;
}

h1 {
    
}

h2 {
    
}

h3 {
    color: yellowgreen !important;
}

h4 {
    color: whitesmoke !important;
}

h6 {
    font-size: 12px; 
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}




/* ===================== */
/*         Navbar        */
/* ===================== */

.links {
  margin-top: 55px !important;
	background-color: #123;
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 15px;
	font-weight: 300;
}
.links > a {
	color: #9ab;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
.links > a:hover {
	background: #ffffff06;
	color: #adf;
}
.links > .line {
	background: #68a;
	height: 1px;
	pointer-events: none;
}

/* The Magic */
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.links {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}
.links > .line {
	opacity: 0;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.links > a:hover ~ .line {
	opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }


/* ===================== */
/*     Navbar-Home       */
/* ===================== */

.button-home
{
  width: 319px;
  display: table;
  transform: translateY(-51%);
  margin-top: 75px;
  margin-left: 3%;
  float: left;
}

.button-home a
{
  width: 53%;
  display: table-cell;
  text-align: center;
  font-size: 15px;
  color: #949494;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px 5px;
  transition: 0.2s ease color;
}

.button-home a:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

.button-home a:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

.button-home a:nth-child(1):before
{
    background-color: yellow;
}

.button-home a:nth-child(1):after
{
    background-color: red;
}

.button-home a:nth-child(2):before
{
    background-color: #00e2ff;
}

.button-home a:nth-child(2):after
{
    background-color: #89ff00;
}

.button-home a:nth-child(3):before
{
    background-color: purple;
}

.button-home a:nth-child(3):after
{
    background-color: palevioletred;
}

#indicator
{
    position: absolute;
    left: 8%;
    bottom: 0;
    width: 120px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

.button-home a:hover
{
    color: #fff;
}

.button-home a:hover:before, nav a:hover:after
{
    transform: scale(1);
}

.button-home a:nth-child(1):hover ~ #indicator
{
    background: linear-gradient(130deg, yellow, red);
}

.button-home a:nth-child(2):hover ~ #indicator
{
    left: 34%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

.button-home a:nth-child(3):hover ~ #indicator
{
    left: 70%;
    background: linear-gradient(130deg, purple, palevioletred);
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  z-index: 125;
}


/* ===================== */
/*        Search         */
/* ===================== */

#wrap {
    margin: 10px 0px;
    display: inline-block;
    position: relative;
    height: 44px;
    float: right;
    padding: 0;
    position: relative;
}
  
  input[type="text"] {
    height: 46px;
    font-size: 28px;
    display: inline-block;
    font-family: system-ui;
    font-weight: 300;
    border: none;
    outline: none;
    color: #e6ffff;
    padding: 14px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}
  
  input[type="text"]:focus:hover {
    border-bottom: 1px solid #BBB;
  }
  
  input[type="text"]:focus {
    width: 888px;
    z-index: 1;
    border-bottom: 1px solid #979797;
    cursor: text;
}
input[type="submit"] {
    height: 44px;
    width: 50px;
    display: inline-block;
    color: red;
    /* font-size: 4px; */
    float: right;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
}
  
input[type="submit"]:hover {
    opacity: 0.8;
}


/* ===================== */
/*         Card          */
/* ===================== */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
.card-game {
    display: inline-block;
    margin-top: 38px;
    margin-left: 2.2%;
    float: left;
}

.card-title {
    font-size: 15px;
    color: greenyellow;
    text-shadow: 0px 0px 8px #000000;
}

.card-container {
  background-color: #231E39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
  color: #B3B8CD;
  padding-top: 30px;
  position: relative;
  width: 311px;
  max-width: 100%;
  text-align: center;
}

.card-container .pro {
  color: #231E39;
  background-color: #FEBB0B;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 45px;
  left: 50px;
  animation: 1s blinker linear infinite;
}

.card-container .image {
    max-width: 242px;
    max-height: 320px;
    min-height: 320px;
    min-width: 242px;
    margin-top: 0px;
}

a.primary {
  background-color: #03BFCB;
  border: 1px solid #03BFCB;
  border-radius: 3px;
  font-size: 14px;
  color: #231E39;
  font-family: sans-serif;
  font-weight: 100;
  padding: 9px 14px;
}

a.primary.ghost {
    margin-left: 2px;
	background-color: transparent;
	color: #02899C;
}
a.primary:hover {
    text-decoration: none;
}

a.primary.ghost:hover {
    text-decoration: none;
}
.category {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
  margin-top: 15px;
  height: 100px;
}

.category ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.category ul li {
    border: 1px solid #2D2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 11px;
    margin: 0 1px 7px 0;
    padding: 6px;
}

/* =============================== */
/*         Hr and Wrapper          */
/* =============================== */

.hr-game-1 {
    width: 230px;
    margin-left: 25px;
    background-color: #9fc1c22e;
    border: 0;
}

.hr-game-2 {
    margin-left: 10%;
    margin-right: 10%;
}

.neon-wrapper {
    font-size: 24px;
    margin: 0px;
    border: 3px solid #32cdbf;
    padding: 13px 23px;
    border-radius: 12px;
    box-shadow: inset 0px 0px 11px 0px #00adffc7;
}


/* ================= */
/*       Text       */
/* ================= */

.text-1 {
    display: block;
    color: aqua !important;
    font-size: 18px;
    margin-left: 1%;
}

.text-2 {
    color: deeppink !important;
}

.text-3 {
    display: block;
    font-size: 18px;
    color: antiquewhite;
    margin: 80px 0px;
}

.text-4 {
    font-size: 19px;
    font-family: jura;
    color:#fee7b0d1 !important;
    margin-left: 15px;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.text-5 {
    font-size: 12px;
    color: aquamarine;
    text-align: left !important;
    margin-left: 13%;
    margin-right: 13%;
}

.text-6 {
    color: #d1f0f2;
}

.text-7 {
    margin: 18px 26px;
    text-align: center;
}

.comment-color-2 {
  border: 1px solid aqua;
  padding: 10px 20px;
  text-align: center;
  margin: 30px 258px;
  font-size: 20px;
  font-family: 'Play';
  font-weight: 900;
  display: block;
  border-radius: 22px;
}

/* ================= */
/*       Image       */
/* ================= */

.img {
  max-width: 200px;
  max-height: 116px;
  min-width: 270px;
  min-height: 390px;
  border: 2px solid aqua;
  border-radius: 4px;
}

.img-wrapper {
    max-height: 94px;
    min-width: 163px;
    min-height: 94px;
    max-width: 115px;
    outline: 1px solid;
    margin: 2px;
}
.img-wrapper:hover {
    outline: 2px solid;
    margin: 2px;
}

.img-game {
  max-width: 200px;
  max-height: 116px;
  min-width: 200px;
  min-height: 116px;
  border: 2px solid aqua;
  border-radius: 6px;
}
.img-game:hover {
    border: 1px solid rgb(255, 0, 128);
}

.img-game-wrapper {
    margin-top: 18px;
}

/* ============================== */
/*        Button Download        */
/* ==============================*/

.btn-download {
    text-align: center;
    font-family: jura;
    display: block;
    width: 269px;
    height: 69px;
    border: 1px solid #fff;
    overflow: hidden;
    color: #fff;
    
    line-height: 70px;

    text-transform: capitalize;
    float: left;
    z-index: 1;
    margin-left: -14px;
    margin-top: 13px;
    border-radius: 3px;
    font-size: 1.0em;
    position: relative;
    -webkit-transition: 1s ease-out;
    transition: 1s ease-out;
}
  
  /*-------------- hover types --------------*/
  [data-type]:before {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: -1;
  }
  [data-type]:hover {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    color: #e91e63;
    z-index: 8;
  }
  
  /*--------- Swipe ---------------*/
  [data-type="swipe"]:before {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
  }
  [data-type="swipe"]:hover:before {
    left: 0;
    z-index: -5;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  
  /*--------position aware -----------*/
  [data-type="pos_aware"]:before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50px;
  }
  [data-type="pos_aware"]:hover:before {
    -webkit-transform: scale(8.3);
    transform: scale(8.3);
  }
  
  /*--------------- diagonal_swipe_left -----------*/
  [data-type="diagonal_swipe_left"]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    border-right: 50px solid transparent;
    border-bottom: 80px solid #fff;
  }
  [data-type="diagonal_swipe_left"]:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  /*--------------- diagonal_swipe_right -----------*/
  [data-type="diagonal_swipe_right"]:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    border-left: 50px solid transparent;
    border-bottom: 80px solid #fff;
  }
  [data-type="diagonal_swipe_right"]:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  /*--------------- double_swipe -----------*/
  [data-type="double_swipe"]:before, [data-type="double_swipe"]:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -5;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  [data-type="double_swipe"]:before {
    top: 0;
    left: -100px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    border-right: 50px solid transparent;
    border-bottom: 80px solid #fff;
  }
  [data-type="double_swipe"]:after {
    top: 0;
    right: -100px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    border-left: 50px solid transparent;
    border-bottom: 80px solid #fff;
  }
  [data-type="double_swipe"]:hover:before {
    transform: translateX(20%);
  }
  [data-type="double_swipe"]:hover:after {
    transform: translateX(-20%);
  }
  
  /*--------------- colusion -----------*/
  [data-type="colusion"]:before, [data-type="colusion"]:after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50px;
    z-index: -5;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s;
    transition: .5s;
  }
  [data-type="colusion"]:before {
    top: 30px;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  [data-type="colusion"]:after {
    top: 30px;
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  [data-type="colusion"]:hover:before {
    -webkit-transform: translateX(530%) scale(10);
    transform: translateX(530%) scale(10);
  }
  [data-type="colusion"]:hover:after {
    -webkit-transform: translateX(-530%) scale(10);
    transform: translateX(-530%) scale(10);
  }
  
  /*--------------- letter_spacing ---------------------*/
  [data-type="letter_spacing"] {
    border: none;
  }
  [data-type="letter_spacing"]:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  [data-type="letter_spacing"]:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  [data-type="letter_spacing"]:hover {
    letter-spacing: 2px;
    color: #fff;
  }
  [data-type="letter_spacing"]:hover:before, [data-type="letter_spacing"]:hover:after {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }






.eye {
  color: aqua;
  margin-right: 5px;
}

.like {
  color: #8be137;
  margin: 0px 5px;
}

.dislike {
  color: indianred;
  margin: 0px 5px;
}

.star {
  color: gold;
  margin: 0px 5px;
}

.info {
  position: absolute;
  top: 320px;
  width: 285px;
  text-align: center;
  font-size: 16px;
}

.comment-wrapper {
  font-family: jura;
  border: 1px solid #32cdbf !important;
  padding: 13px 18px;
  margin: 0px 40px;
  margin-right: 40px;
  border-radius: 6px;
  box-shadow: inset 0px 0px 11px 0px #00adffc7;
  border: 1px solid;
}

.comment-author {
  color: aqua;
  text-shadow: 1px 1px #0037ff;
  font-size: large;
  margin: 18px 70px 4px;
  display: block;
}
.comment-text {
  font-size: 15px;
  color: white;
  padding-right: 195px;
  margin-left: 70px;
  display: block;
}
.comment-time {
  color: #ff1493a8;
  display: block;
  text-align: center;
  border: 1px solid #00ffff94;
  box-shadow: 0 0 4px 0px #00ff89;
  margin-top: -30px;
  float: right;
  font-size: 13px;
  width: 173px;
  border-radius: 20px;
  padding: 5px 15px 5px;
}
.hr-comment-left {
  display: block;
  width: 2px;
  height: 0px;
  margin-left: 63px !important;
  border: 0;
  border-top: 16px solid #cccccccc !important;
  margin: 0px;
  padding: 0;
}

.hr-comment-right {
  display: block;
  width: 2px;
  height: 0;
  margin-left: 1070px !important;
  border: 0;
  border-top: 16px solid #cccccccc !important;
  margin: 0px;
  margin-top: -16px;
  padding: 0;
}

.btn-comment {
  display: block;
  width: 325px;
  height: 65px;
  border: 1px solid #fff;
  background-color: #5cb85c;
  overflow: hidden;
  color: #fff;
  line-height: 57px;
  text-transform: capitalize;
  z-index: 1;
  border-radius: 3px;
  font-size: 1.4em;
  position: relative;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}
.form-control {
  font-size: 15px;
}
.comment-form-wrapper {
  
  font-family: jura;
  margin: 25px 25px 50px;
}

.img-account {
  margin-top: 7px;
  width: 60px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  border: 1px solid deeppink;
  border-radius: 100%;
  text-align: center;
}





.login-label {
  font-family: 'Jura';
  font-size: 12px;
  margin: 10px 42px 0px;
  color: #00ffffc7;
}

.login-wrapper {
  width: 385px;
  margin: 100px auto 200px;
}

.input-login {
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  text-align: left;
  display: block;
  margin: auto;
  font-size: 17px;
  color: #fff !important;
  padding: 8px 12px;
  text-shadow: 1px 1px 1px #1971bc;
  border-radius: 0px;
  border: 1px solid #123;
  background: rgb(255 0 0 / 0%) !important;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 50px #000c18 !important;
  -webkit-text-fill-color: rgb(255 255 255);
}

.btn-login {
  width: 308px !important;
  margin-left: 39px !important;
}

.input-login:focus{
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(3,3,3,.18);
}


.p-account {
  display: inline-block;
  margin-right: 5px;
  float: right;
  padding: 2px 6px;
  font-family: play;
  font-size: 15px;
  margin-top: 10px;
  border: 1px solid #3279b5 !important;
  text-decoration: none !important;
}

.error {
  display: block;
  margin: 100px 39px;
  color: brown;
  font-family: 'Jura';
  border: 1px solid brown;
  padding: 10px 10px 0px;
  border-radius: 1px;
}

.error-text {
  color: darkgrey;
}

.input-info-user {
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  position: relative;
  width: 25%;
  text-align: left;
  display: block;
  font-size: 17px;
  color: #fff !important;
  padding: 4px 10px;
  text-shadow: 1px 1px 1px #1971bc;
  border-radius: 0px;
  border: 1px solid #123;
  background: rgb(255 0 0 / 0%) !important;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 50px #000c18 !important;
  -webkit-text-fill-color: rgb(255 255 255);
}













.user-card-full {
  overflow: hidden
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px
}

.m-r-0 {
  margin-right: 0px
}

.m-l-0 {
  margin-left: 0px
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  background: linear-gradient(to right, #39189e, #1dc8da);
}

.user-profile {
  padding: 20px 0
}

.card-block {
  padding: 1.25rem
}

.m-b-25 {
  margin-bottom: 25px
}

.img-radius {
  border-radius: 5px
}

h6 {
  font-size: 14px
}

.card .card-block p {
  line-height: 25px
}

@media only screen and (min-width: 1400px) {
  p {
      font-size: 14px
  }
}

.card-block {
  padding: 1.25rem
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
  margin-bottom: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.card .card-block p {
  line-height: 25px
}

.m-b-10 {
  margin-bottom: 10px
}

.text-muted {
  color: #919aa3 !important
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
  font-weight: 600
}

.m-b-20 {
  margin-bottom: 20px
}

.m-t-40 {
  margin-top: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.m-b-10 {
  margin-bottom: 10px
}

.m-t-40 {
  margin-top: 20px
}

.user-card-full .social-link li {
  display: inline-block
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

.input-change {

}

.dropdown-menu-profile {
  padding: 1px;
  position: absolute;
  transform: translate3d(166px, 38px, 0px);
  top: -37px !important;
  left: 31px !important;
  will-change: transform;
}

.page-item-arrow-left {
  color: deeppink !important;
  padding: 10px 12px !important;
  font-family: sans-serif !important;
  background: #001325 !important;
  border: 3px solid #1d214a !important;
  border-radius: 0px 0px 0px 0px !important;
  border-left: 1px solid #1d214a !important;
  border-right: 3px solid #1d214a !important;
}

.page-item-start {
  color: #ff1476 !important;
  font-size: 20px !important;
  padding: 7px 22px !important;
  font-family: FANTASY;
  background: #001325 !important;
  border: 3px solid #1d214a !important;
  border-radius: 2px 0px 0px 2px !important;
}

.page-item-center {
  color: deeppink !important;
  padding: 7px 17px !important;
  font-family: 'Play' !important;
  background: #001325 !important;
  border: 3px solid #1d214a !important;
  border-radius: 0px 0px 0px 0px !important;
  border-left: 1px solid #1d214a !important;
  border-right: 1px solid #1d214a !important;
}

.page-item-arrow-right {
  color: deeppink !important;
  padding: 10px 12px !important;
  font-family: sans-serif !important;
  background: #001325 !important;
  border: 3px solid #1d214a !important;
  border-radius: 0px 0px 0px 0px !important;
  border-left: 3px solid #1d214a !important;
  border-right: 1px solid #1d214a !important;
}

.page-item-end {
  color: #ff1476 !important;
  font-size: 20px !important;
  padding: 7px 22px !important;
  font-family: FANTASY;
  background: #001325 !important;
  border: 3px solid#1d214a !important;
  border-radius: 0px 2px 2px 0px !important;
}

.pagination {
  display: inline-block !important;
}
.wrapper-pagination {
  margin-bottom: 45px;
}


/*-- Sign Styles --*/
.sign {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sign__word {
  font-size: 20px;
  text-align: center;
  font-family: cursive;
  color: #c6e2ff;
  -webkit-animation: neon .08s ease-in-out infinite alternate;
          animation: neon .08s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}
@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}
